body {
  font: 20px Arial, sans-serif;
}

.navbar {
  background-color: #59793f;
}

.home {
  background-color: whitesmoke;
}

.margin {
  padding: 50px 50px;
}

.partners {
  background-color: rgb(101, 101, 248);
}